/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.button {
  border: 1px solid #252323;
  background-color: #252323;
  font-size: 15px;
  padding: 5px 15px;
  margin: 10px;
  color: #fff;
  font-weight: 900;
  text-transform: UPPERCASE;
  border-radius: 3px;
}

.button:disabled {
  opacity: 0.5;
}

.reset .invalid {
  border-color: red !important;
}
